// styles.scss

.testing {
  width: percentage(5/7);
  display:flex;
  padding: percentage(0.5/10);
}

.col-3 {
	width: percentage(1/3);
	display: flex;
}

.col-2 {
	width: percentage(1/2);
	display: flex;
}